name: CI

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "17.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.10.1"
      - run: flutter pub get
      - run: flutter test --coverage
      - env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info

  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: "17.x"
  #     - uses: subosito/flutter-action@v1
  #       with:
  #         flutter-version: "2.10.1"
  #     - run: flutter pub get
  #     - env:
  #         GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
  #       run: echo $GOOGLE_SERVICES_JSON > ./android/app/google-services.json
  #     - run: flutter build apk
