name: iOS Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: "17.x"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "2.10.1"

      - name: Cache CocoaPods
        id: cache-cocoapods
        uses: actions/cache@v1
        with:
          path: /Users/runner/Library/Caches/CocoaPods/Pods
          key: ${{ runner.os }}-cache-cocoapods-${{ hashFiles('pubspec.lock') }}

      - name: Install fastlane and plugins
        run: |
          cd ios
          gem install bundler
          bundle install
      - name: GoogleService-Info.plist
        run: |
          cd ios
          echo "${GOOGLE_SERVICES_INFO_PLIST}" > Runner/GoogleService-Info.plist
        env:
          GOOGLE_SERVICES_INFO_PLIST: ${{ secrets.GOOGLE_SERVICES_INFO_PLIST }}

      - name: Flutter build
        run: |
          flutter pub get
          flutter build ios --release --no-codesign

      - name: cat Podfile
        run: |
          cd ios
          cat Podfile
          cat Podfile.lock

      - name: list cache directory
        run: ls -l ${HOME}/Library/Caches/CocoaPods/Pods

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: install firebase-tools
        run: npm install -g firebase-tools

      # 2022-03-04時点のデフォルトを指定
      - name: Select Xcode version
        run: |
          cd ios
          sudo xcode-select -s '/Applications/Xcode_13.2.1.app'
          xcodebuild -version
      - name: Adhoc
        env:
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          SLACK_URL: ${{ secrets.SLACK_URL }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          FASTLANE_USERNAME: ${{ secrets.FASTLANE_USERNAME }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CODE_SIGNING_IDENTITY: ${{ secrets.CODE_SIGNING_IDENTITY }}
          APPLE_APP_ID: ${{ secrets.APPLE_APP_ID }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
        run: |
          cd ios
          bundle exec fastlane adhoc --verbose
